@use "../global" as *;

.p-fv {
  height: 760px;
  @include tab {
    height: 1058px;
  }
  @include sp {
    height: 696px;
  }
  &__wrapper {
    background-image: url(../../画像/img/the-honest-company-uM-WXMr-1.png);
    height: 84%;
  }
  &::after {
    height: 748px;
    @include sp {
      height: 671px;
    }
  }
  &__tex {
    top: 280px;
    right: 23.5%;
    @include tab {
      top: 458px;
      right: 15.5%;
    }
    @include sp {
      top: 300px;
      right: 15.5%;
      margin-right: 5%;
    }
  }
}

.p-fv2 {
  height: 494px;
  @include tab {
    height: 608px;
  }
  @include sp {
    height: 443px;
  }
  h1 {
    margin-top: 10px;
  }
  > span {
    display: none;
    top: 42px;
    left: 12px;
    font-weight: bold;
    font-family: $ff1;
    font-size: 1.3rem;
    &::after {
      position: absolute;
      content: "";
      top: 100%;
      right: 48%;
      width: 1px;
      height: 118px;
      background-color: black;
      z-index: 500;
    }
    @include sp {
      display: block;
      writing-mode: vertical-lr;
      transform: rotate(180deg);
      position: relative;
    }
  }
  &__wrapper {
    background-image: url(../../画像/img/jacek-dylag-PMxT-1.png);
    height: 78%;
    background-position: center 0px;
    @include tab {
      height: 528px;
      background-position: 56%;
    }
    @include sp {
      height: 269px;
    }
  }
  &__wrapper2 {
    background-image: url(../../画像/img/photo-of-people-looking-on-tablet-1.png);
    height: 388px;
    @include tab {
      height: 530px;
    }
    @include sp {
      height: 269px;
    }
    background-position: center 0px;
  }

  &::after {
    height: 451px;
    @include tab {
      height: 614px;
    }
    @include sp {
      height: 367px;
    }
  }
  &__tex,
  &__tex2 {
    h1 {
      letter-spacing: 0.06em;
    }
    top: 205px;
    @include tab {
      top: 180px;
      margin-right: 8.5%;
    }
    margin-right: 6.5%;
  }
  &__tex {
    right: 24.5%;
    @include tab {
      right: 16.5%;
    }
    @include sp {
      width: 313px;
    }
  }
  &__tex2 {
    right: 19.5%;
    @include sp {
      right: 38.5%;
    }
  }
}

.p-fv,
.p-fv2 {
  &__wrapper,
  &__wrapper2 {
    width: 76.4%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 52%;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #222;
    width: 54%;
    z-index: -1;
    @include tab {
      width: 73%;
    }
  }
  &__tex,
  &__tex2 {
    position: absolute;
    transform: translate(50%, -50%);
    color: #fff;
    @include tab {
      transform: translate(25%, -50%);
    }
    @include sp {
      &__p1 {
        font-size: 14px;
      }
    }
  }
  &__p1 {
    font-size: 20px;
    @include sp {
      font-size: 14px;
    }
    font-family: $ff2;
    font-weight: bold;
    line-height: 1.25;
    color: $white;
  }
  &__p2 {
    font-size: 20px;
    font-family: $ff2;
    font-weight: bold;
    line-height: 1.25;
    margin-bottom: 10px;
  }
}
