@use "../global" as *;

.p-nav {
  &-wrapper {
    display: flex;
    position: absolute;
    padding: 28px 5.5% 0 0;
    top: 0;
    right: 0;
  }
  &-list {
    display: none;
    @include tab {
      position: fixed;
      top: 0;
      left: -300px;
      width: 300px;
      color: #fff;
      padding: 317px 150px;
      transition: all 0.5s;
      z-index: 20;
      opacity: 0;
    }
    &-item1 {
      margin-right: 34px;
      z-index: 20;
      margin-top: 26px;
      &:nth-of-type(1) {
        margin-top: 0px;
      }

      @include tab {
        margin-top: 30px;
        &:nth-of-type(1) {
          margin-top: 0;
        }
      }
      a {
        color: $white;
      }
    }
  }
}

.open {
  left: 0;
  opacity: 1;
  flex-direction: column;
  display: flex;
}
